# This is a sample of how IBM credentials are stored. Values after the equals sign have been removed.
# Please download your credentials for the service below and place them in a file named
# ibm-credentials.env in this directory.
TONE_ANALYZER_APIKEY=
TONE_ANALYZER_IAM_APIKEY=
TONE_ANALYZER_URL=
TONE_ANALYZER_AUTH_TYPE=